<!-- TODO: Add required where suitable -->
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Ny provning{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="tasting_name">Namn p&aring provningen</label>
        <input name="tasting_name" id="tasting_name">
        <br>
        <label for="grogg_list">Groggar, separera med semikolon (;)</label>
        <textarea name="grogg_list" id="grogg_list" rows="2" cols="20"></textarea>
        <br>
        <input type="submit" value="Godkänn">
    </form>
{% endblock %}